.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___4Iso {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-yCu-WGNhA5UACX);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox___4Iso > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___4Iso > :global(.__wab_flex-container) > *,
.freeBox___4Iso > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Iso > :global(.__wab_flex-container) > picture > img,
.freeBox___4Iso
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Iso {
    width: 100%;
    height: auto;
    max-width: var(--token-yCu-WGNhA5UACX);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Iso > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Iso > :global(.__wab_flex-container) > *,
  .freeBox___4Iso > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4Iso > :global(.__wab_flex-container) > picture > img,
  .freeBox___4Iso
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__bbtsf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__bbtsf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bbtsf > :global(.__wab_flex-container) > *,
.freeBox__bbtsf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bbtsf > :global(.__wab_flex-container) > picture > img,
.freeBox__bbtsf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bbtsf {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bbtsf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bbtsf > :global(.__wab_flex-container) > *,
  .freeBox__bbtsf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bbtsf > :global(.__wab_flex-container) > picture > img,
  .freeBox__bbtsf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__fr2X6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__sbote {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sbote {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__c133 {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__c133 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__z2Jmu {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z2Jmu {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__lWl4V {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__lWl4V > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__lWl4V > :global(.__wab_flex-container) > *,
.freeBox__lWl4V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lWl4V > :global(.__wab_flex-container) > picture > img,
.freeBox__lWl4V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__i5CbY:global(.__wab_instance) {
  position: relative;
}
.svg__utHwH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__bl3Ys {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__vRb3S:global(.__wab_instance) {
  position: relative;
}
.svg__b7F4M {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__owxkr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___0WmAz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__aamGq {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__aamGq > picture > img {
  object-fit: cover;
}
.img__aamGq > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__nVd8T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nVd8T {
    width: 100%;
  }
}
.freeBox__t9BMr {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__t9BMr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__t9BMr > :global(.__wab_flex-container) > *,
.freeBox__t9BMr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t9BMr > :global(.__wab_flex-container) > picture > img,
.freeBox__t9BMr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t9BMr {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t9BMr > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__txjJz {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__a8Rzd {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__kx030:global(.__wab_instance) {
  position: relative;
}
.svg__wpNi3 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__t5Uz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__g5FCf:global(.__wab_instance) {
  position: relative;
}
.svg__sgQ {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__shBFb {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__lwgfb:global(.__wab_instance) {
  position: relative;
}
.svg___9FUWy {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__t4MTn {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__joL0J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__joL0J {
    width: 100%;
  }
}
.img__y6Igs {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__y6Igs > picture > img {
  object-fit: cover;
}
.img__y6Igs > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__jLvvc {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__jLvvc > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__jLvvc > :global(.__wab_flex-container) > *,
.freeBox__jLvvc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jLvvc > :global(.__wab_flex-container) > picture > img,
.freeBox__jLvvc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard___9L2F:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__flPm7 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-HYNQp-ZBBydgN7);
}
.svg__yhQd {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__lxbq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xvBan {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-HYNQp-ZBBydgN7);
}
.svg__aMgwj {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__pJAgM:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__r8FHh {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-HYNQp-ZBBydgN7);
}
.svg__xLkY {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__lfrpO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___6Cu8U {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-HYNQp-ZBBydgN7);
}
.svg___8Jnx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__gyYjp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dKj42 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-HYNQp-ZBBydgN7);
}
.svg__neV4 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__xqHiu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zoc2P {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-HYNQp-ZBBydgN7);
}
.svg__oiC5Z {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-qutrQnUpRhe1qM);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__bcBz0 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bcBz0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__bcBz0 > :global(.__wab_flex-container) > *,
.freeBox__bcBz0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bcBz0 > :global(.__wab_flex-container) > picture > img,
.freeBox__bcBz0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__msscf {
  flex-direction: row;
  display: flex;
}
.freeBox__msscf > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__msscf > :global(.__wab_flex-container) > *,
.freeBox__msscf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__msscf > :global(.__wab_flex-container) > picture > img,
.freeBox__msscf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__yVxBn {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__gYDz {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__ezuFn {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__oEgi4 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___7ZcIw {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
